# A .clang-format file to adhere to the Google C++ style guide
# - Google C++ Style Guide: https://google.github.io/styleguide/cppguide.html
# - CLANG-FORMAT STYLE OPTIONS: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
# Author: Munseong Jeong <ryan.m.jeong@hotmail.com>

BasedOnStyle: Google
Language: Cpp
Standard: c++20

# --------------------------------------------------------------------------
# Pointer and Reference Alignment
# --------------------------------------------------------------------------
# Munseong: Force pointers (*) and references (&) to bind to the Type.
# Ex: int* x; (Left) instead of int *x; (Right)
DerivePointerAlignment: false
PointerAlignment: Left

# --------------------------------------------------------------------------
# Include Sorting
# --------------------------------------------------------------------------
IncludeBlocks: Preserve

# --------------------------------------------------------------------------
# Short Blocks and Loops
# --------------------------------------------------------------------------
# 1. Block: while (true) {}
# Always merge short blocks (with braces) into a single line
AllowShortBlocksOnASingleLine: Always

# 2. Loop: while (condition);
# Munseong: Prevent line break for empty/short loops
# before:
#   while (condition)
#     ;
# after:
#   while (condition);
AllowShortLoopsOnASingleLine: true

# Don't allow short enums on a single line
AllowShortEnumsOnASingleLine: false

# --------------------------------------------------------------------------
# Casting
# --------------------------------------------------------------------------
SpaceAfterCStyleCast: true